#inputDiv {
  width:50%;
  height: 50%;
  position: fixed;
  top:0;
  left:0;
  overflow-y: auto;
}

#codeDiv {
  width:50%;
  height: 50%;
  position: fixed;
  top:0;
  right:0;
  overflow-y: auto;
}

#outputDiv {
  height: 50%;
  width: 100%;
  position: fixed;
  bottom:0;
  left:0;
  overflow-y: auto;
}

#copyCode {
  top: 80px;
  right: 10px;
  position: fixed;
}

#copyCode .copyBtn {
  background: none;
  color: rgba(49, 49, 49, 0.20);
  border: none;
}

#copyCode .copyBtn:hover {
  color: rgba(49, 49, 49, 0.60);
}

#copyCode .copyBtn i {
  font-size: 16pt;
}

@media only screen and (max-width: 1055px) {
  [class*="col-"] {
    width: 100%;
  }
  body {
    overflow-y: scroll;
  }
}

@media only screen and (max-width: 756px) {
  [class*="col-"] {
    width: 100%;
  }
  body {
    overflow-y: scroll;
  }
  #inputDiv {
    width: 100%;
    height: 450px;
  }
  #codeDiv {
    width: 100%;
    height: 450px;
    top: 450px;
    left:0;
  }
  #outputDiv {
    min-height: 450px;
    width: 100%;
    position: fixed;
    bottom:auto;
    left:0;
    top: 900px;
  }
  #copyCode {
    top: 860px;
  }
}

@media only screen and (min-width: 1900px) {
  #inputDiv {
    width: 950px;
  }
  #codeDiv {
    left: 950px;
    width: inherit;
  }
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  padding-right: 5px;
  padding-left: 5px;
}

#endpointHelp {
  font-size: large;
  color: #818a91;
  border: 0;
}

.row {
  padding-left: 10px;
  padding-right: 10px;
}

.adv {
  visibility: hidden;
}

.tab-content{
	display: none;
	padding: 15px;
 }

.tab-content.current{
	display: inherit;
}

.scratch-pad {
  width: 100%;
  height: 75%;
  word-wrap: break-word;
  overflow-y: scroll;
  border: 0;
}

.hljs {
  background: none;
}

pre {
  white-space: pre-wrap;
}

.funcForm form {
  margin-bottom: 0;
}

#exportCsv {
  padding-bottom: 10px;
}

.fa-spinner {
  font-size: 14pt;
}

.modal-content {
  font-size: 13px;
}

.modal-content h2 {
  font-size: 1.2rem;
}

.modal-content h3 {
  font-size: 1rem;
}

#help {
  font-size: 40px;
  color: rgba(2, 117, 216, 0.4);
  cursor: pointer;
}

#help:hover {
  color: rgba(2, 117, 216, 0.8);
}
